.settings-menu--wide {
    align-content: flex-start;
    display: flex;
}

.settings-menu, .container {
    background-color: white;
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: left;
    padding: 8px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.settings-menu--wide > span {
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
    font-weight: 500;
    width: 80px;
    padding-top: 16px;

    p {
        margin-top: 0px;
    }
}