@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '../themes/angularlight/index';
$app-palette: igx-palette($primary: #0D61B5, $secondary: #e41c77);

main {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column; 
}

.all {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.rectangle {
	position: absolute;
	z-index: 0;
	width: 1920px;
	min-width: 1920px;
	height: 80px;
	min-height: 80px;
	background-color: igx-color($app-palette, primary);
}

.group6 {
	top: 6px;
	z-index: 1;
	position: relative;
	padding: 0;
}

.group3 {
	left: 39px;
	z-index: 0;
	position: relative;
	padding: 0;
}

.logo {
	width: 130px;
	min-width: 130px;
	height: 55px;
	min-height: 55px;
	top: 12px;
	left: 80px;
	z-index: 3;
	position: relative;
	padding: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.contextual {
	margin-top: 96px;
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 1.0);
}

.dropdownmenu {
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 1.0);
}

.avatar-label {
  margin-left: 8px;
  color: #fff;
}

.contextual-row {
	margin-top: 23px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
}

.avatar {
	line-height: 0px;
    position: absolute;
    top: 22px;
    left: 1563px;
    z-index: 4;
}

.navbar {
	height: 320px;
	min-height: 320px;
	position: absolute;
	z-index: 1;
	position: relative;
	padding: 0;
}

.home-1 {
	color: igx-color($app-palette, grays, 700);
	margin-top: 0px !important;
	height: 24px;
	min-height: 24px;
	font-family: 'Ubuntu', 'Titillium Web', sans-serif;
	font-weight: 700;
}

.myjobs {
	color: igx-color($app-palette, grays, 900);
	margin-left: 8px !important;
	margin-top: 0px !important;
	height: 24px;
	min-height: 24px;
	font-family: 'Ubuntu', 'Titillium Web', sans-serif;
	font-weight: 700;
}

.group {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
}

.my-jobs {
	color: rgba(5.10%, 38.04%, 70.98%, 1);
	margin-top: 8px !important;
	height: 57px;
	min-height: 57px;
	font-family: 'Ubuntu', 'Titillium Web', sans-serif;
	font-weight: 700;
}

.group5 {
	height: 91px;
	min-height: 91px;
	margin-top: 86px;
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-shrink: 0;
}

.oval {
	position: absolute;
	z-index: 0;
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	border-radius: 50%;
	background-color: igx-color($app-palette, primary);
}

.group2-copy2 {
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	margin: 0 28px 0 auto;
	position: relative;
	padding: 0;
}

.oval-1 {
	position: absolute;
	z-index: 0;
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	border-radius: 50%;
	background-color: igx-color($app-palette, primary);
}

.group2 {
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	margin: 0 28px 0 auto;
	position: relative;
	padding: 0;
}

.oval-2 {
	position: absolute;
	z-index: 0;
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	border-radius: 50%;
	background-color: igx-color($app-palette, primary);
}

.group2-copy {
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	margin: 0 28px 0 auto;
	position: relative;
	padding: 0;
}

.oval-3 {
	position: absolute;
	z-index: 0;
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	border-radius: 50%;
	background-color: igx-color($app-palette, primary);
}

.group2-copy3 {
	width: 72px;
	min-width: 72px;
	height: 72px;
	min-height: 72px;
	margin: 0 0 0 auto;
	position: relative;
	padding: 0;
}

.group12 {
	width: 372px;
	min-width: 372px;
	height: 72px;
	min-height: 72px;
	margin: 100px 80px 0 auto;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
}

.header {
	width: 1920px;
	min-width: 1920px;
	height: 200px;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
	background-color: igx-color($app-palette, grays, 200);
}

.flat-button-group {
  display: flex;
  justify-content: space-between;
}

.buttons-flat-1 {
	height: 36px;
	min-height: 36px;

}

.buttons-flat {
  margin-right: 8px;

  igx-icon {
    margin-right: 4px;
  }
}

.buttons-flat-copy-1 {
	width: 145px;
	min-width: 145px;
	height: 36px;
	min-height: 36px;
}

.inputs-input-border-1 {
	width: 409px;
	min-width: 409px;
}

.buttons-flat-row {
	margin-right: 1px;
	display: flex;
  justify-content: space-between;
	flex-direction: row;
	flex-shrink: 0;
	padding: 24px 0px;
}

.inputs-input-border-copy-1 {
	width: 199px;
	min-width: 199px;
}

.inputs-input-border-copy-row {
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
}

.grid {
	height: 696px;
	min-height: 696px;
	margin-top: 45px;
	margin-right: 80px;
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-shrink: 0;
}

.rectangle-copy2 {
	width: 1760px;
	min-width: 1760px;
	height: 2px;
	min-height: 2px;
	background-color: igx-color($app-palette, grays, 400);
}

.contacts {
	display: block;
	color: rgba(5.10%, 38.04%, 70.98%, 1);
	margin-top: 0px !important;
	height: 24px;
	min-height: 24px;
	font-family: 'Ubuntu', 'Titillium Web', sans-serif;
}

.blank-name {
	display: block;
	color: igx-color($app-palette, grays, 900);
	margin-top: 0px !important;
	height: 24px;
	min-height: 24px;
	font-family: 'Ubuntu', 'Titillium Web', sans-serif;
}

.a2018-baker-hughesa {
	display: block;
	color: igx-color($app-palette, grays, 900);
	margin-left: 2px !important;
	margin-top: 0px !important;
	height: 24px;
	min-height: 24px;
	font-family: 'Ubuntu', 'Titillium Web', sans-serif;
	font-weight: 500;
}

.group10 {
	height: 24px;
	min-height: 24px;
	margin: auto 0 0 auto;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
}

.contacts-row {
	margin: 16px 0;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	padding: 0;
	width: 1760px;
  min-width: 1760px;
}

.footer {
	height: 42px;
	min-height: 42px;
	margin: auto 0 0 80px;
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-shrink: 0;
}

.main-area {
	position: absolute;
	top: 80px;
	z-index: 0;
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-shrink: 0;
}

.navbar-row {
	position: relative;
    padding: 0;
    
}

@function get-palette($palette, $variant: 'light') {
	$p: igx-color($palette, 'primary');
	$s: igx-color($palette, 'secondary');
	@return igx-palette($primary: $p, $secondary: $s, $grays: if($variant=='light', #fff, #000));
}

@function get-schema($variant: 'light') {
	@return map-get(( dark: $dark-schema, light: $light-schema), $variant);
}

$icon-extra-large-theme: igx-icon-theme( $color: rgb(255, 255, 255), $size: 36px);
$icon-extra-large-1-theme: igx-icon-theme( $color: igx-color($app-palette, primary, 100), $size: 36px);
$icon-extra-large-2-theme: igx-icon-theme( $color: igx-color($app-palette, primary, 100), $size: 36px);
$icon-medium-theme: igx-icon-theme( $color: igx-color($app-palette, grays, 700), $size: 24px);
$icon-extra-large-3-theme: igx-icon-theme( $color: rgb(255, 255, 255), $size: 36px);
$icon-extra-large-4-theme: igx-icon-theme( $color: rgb(255, 255, 255), $size: 36px);
$icon-extra-large-5-theme: igx-icon-theme( $color: rgb(255, 255, 255), $size: 36px);
$icon-extra-large-6-theme: igx-icon-theme( $color: rgb(255, 255, 255), $size: 36px);
$buttons-flat-theme: igx-button-theme( $flat-background: rgba(0, 0, 0, 0), $flat-text-color: igx-color($app-palette, primary));
$buttons-flat-icon-theme: igx-icon-theme( $color: igx-color($app-palette, primary));
$buttons-flat-copy-theme: igx-button-theme( $flat-background: rgba(0, 0, 0, 0), $flat-text-color: igx-color($app-palette, primary));
$buttons-flat-copy-icon-theme: igx-icon-theme( $color: igx-color($app-palette, primary));
$inputs-input-border-theme: igx-input-group-theme( $idle-bottom-line-color: igx-color($app-palette, grays), $box-background: transparent, $border-background: rgba(0, 0, 0, 0), $schema: get-schema('dark'), $palette: get-palette($app-palette, 'dark'));
$inputs-input-border-2-suffix-theme: igx-icon-theme( $color: igx-color($app-palette, grays, 700));
$inputs-input-border-copy-theme: igx-input-group-theme( $idle-bottom-line-color: igx-color($app-palette, grays), $box-background: transparent, $border-background: rgba(0, 0, 0, 0), $schema: get-schema('dark'), $palette: get-palette($app-palette, 'dark'));
$inputs-input-border-copy-2-suffix-theme: igx-icon-theme( $color: igx-color($app-palette, grays, 700));
:host {
	::ng-deep {
		.icon-extra-large {
			@include igx-icon($icon-extra-large-theme);
			line-height: 0px;
			margin: 0 0 0 auto;
		}
		.icon-extra-large-1 {
			@include igx-icon($icon-extra-large-1-theme);
			line-height: 0px;
			position: absolute;
			top: 22px;
			left: 1744px;
			z-index: 4;
		}
		.icon-extra-large-2 {
			@include igx-icon($icon-extra-large-2-theme);
			line-height: 0px;
			position: absolute;
			top: 22px;
			left: 1804px;
			z-index: 2;
		}
		.icon-medium {
			@include igx-icon($icon-medium-theme);
			line-height: 0px;
			margin-top: 2px;
			margin-left: 7px;
		}
		.icon-extra-large-3 {
			@include igx-icon($icon-extra-large-3-theme);
			line-height: 0px;
			position: absolute;
			top: 18px;
			left: 18px;
			z-index: 1;
		}
		.icon-extra-large-4 {
			@include igx-icon($icon-extra-large-4-theme);
			line-height: 0px;
			position: absolute;
			top: 18px;
			left: 18px;
			z-index: 1;
		}
		.icon-extra-large-5 {
			@include igx-icon($icon-extra-large-5-theme);
			line-height: 0px;
			position: absolute;
			top: 18px;
			left: 18px;
			z-index: 1;
		}
		.icon-extra-large-6 {
			@include igx-icon($icon-extra-large-6-theme);
			line-height: 0px;
			position: absolute;
			top: 18px;
			left: 18px;
			z-index: 1;
		}
		.buttons-flat {
			@include igx-button($buttons-flat-theme);
			margin-top: 7px;

		}

		.buttons-flat:hover {
			.igx-button--flat, .igx-button--flat:hover, igx-icon {
				color: #06488B;
			}
		}

		.buttons-flat:focus .igx-button--flat,
		.buttons-flat .igx-button--flat:focus {
			color:#09f
		}

		.buttons-flat-icon {
			@include igx-icon($buttons-flat-icon-theme);
			margin: auto;
		}

		.inputs-input-border {
			@include igx-input-group($inputs-input-border-theme);
			margin: 0 0 0 auto;
		}
		.inputs-input-border-2-suffix {
			@include igx-icon($inputs-input-border-2-suffix-theme);
		}
		.inputs-input-border-copy {
			@include igx-input-group($inputs-input-border-copy-theme);
			margin: auto 0 3px 0;
		}
		.inputs-input-border-copy-2-suffix {
			@include igx-icon($inputs-input-border-copy-2-suffix-theme);
		}
	}
}
