<main class="igx-typography">
     <div class="all">
        <div class="navbar-row">
           <div class="navbar">
              <div class="rectangle">
              </div>
              <div class="logo">
                 <img class="group6" src="../assets/images/logo_BH.svg" />
              </div>
              <div class="avatar">
                 <div class="icon-extra-large">
                     <igx-avatar src="https://staging.infragistics.local/angular-demos/assets/images/men/3.jpg" roundShape="true" size="small"></igx-avatar>
                 </div>
                 <span>Syed Jamil</span>
              </div>
              <div class="icon-extra-large-1">
                 <igx-icon 
                    >
                    wifi
                 </igx-icon>
              </div>
              <div class="icon-extra-large-2" (mouseenter)="mouseenter($event)" #target>
                 <igx-icon>settings</igx-icon>
              </div>
           </div>
           <div class="main-area">
              <div class="header">
                 <div class="group5">
                    <div class="group">
                       <h6 class="igx-typography__h6 home-1">Home</h6>
                       <div class="icon-medium">
                          <igx-icon 
                             >
                             keyboard_arrow_right
                          </igx-icon>
                       </div>
                       <h6 class="igx-typography__h6 myjobs">My jobs</h6>
                    </div>
                    <h3 class="igx-typography__h3 my-jobs">My Jobs</h3>
                 </div>
                 <div class="group12">
                    <div class="group2-copy2">
                       <div class="oval">
                       </div>
                       <div class="icon-extra-large-3">
                          <igx-icon 
                             >
                             refresh
                          </igx-icon>
                       </div>
                    </div>
                    <div class="group2">
                       <div class="oval-1">
                       </div>
                       <div class="icon-extra-large-4">
                          <igx-icon 
                             >
                             share
                          </igx-icon>
                       </div>
                    </div>
                    <div class="group2-copy">
                       <div class="oval-2">
                       </div>
                       <div class="icon-extra-large-5">
                          <igx-icon 
                             >
                             check
                          </igx-icon>
                       </div>
                    </div>
                    <div class="group2-copy3">
                       <div class="oval-3">
                       </div>
                       <div class="icon-extra-large-6">
                          <igx-icon 
                             >
                             add
                          </igx-icon>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="grid">
                 <div class="buttons-flat-row">
                    <div class="buttons-flat">
                       <button igxRipple class="buttons-flat-1" igxButton="flat" >
                          <div class="buttons-flat-icon">
                             <igx-icon>menu</igx-icon>
                          </div>
                          Well data explorer
                       </button>
                    </div>
                    <div class="buttons-flat">
                       <button igxRipple class="buttons-flat-1" igxButton="flat" >
                          <div class="buttons-flat-icon">
                             <igx-icon>keyboard_arrow_down</igx-icon>
                          </div>
                          Metrics
                       </button>
                    </div>
                    <div class="inputs-input-border">
                       <igx-input-group type="border" class="inputs-input-border-1" >
                          <input igxInput type="text" value="Search" />
                          <igx-suffix>
                             <div class="inputs-input-border-2-suffix">
                                <igx-icon>search</igx-icon>
                             </div>
                          </igx-suffix>
                       </igx-input-group>
                    </div>
                 </div>
                 <div class="grid-row">
                    <igx-grid #grid1 [data]="data" [paging]="true" [perPage]="10" [paginationTemplate]="pager" height="500px" width="100%" [displayDensity]="density">
                        <igx-column header="Rank" headerClasses="myClass" field="Id" sortable="true">
                        </igx-column>
                  
                      <igx-column field="Name" header="Athlete">
                      </igx-column>
                  
                      <igx-column field="BeatsPerMinute" header="Beats per minute" dataType="number">
                              <ng-template igxCell let-val>
                                  <div class="cell__inner">
                                      {{ val }}
                                  </div>
                              </ng-template>
                          </igx-column>
                  
                        <igx-column field="TopSpeed" header="Top Speed" dataType="number">
                            <ng-template igxCell let-val>
                                <div class="cell__inner">
                                    {{ val | number: '1.1-5' }}
                                </div>
                            </ng-template>
                        </igx-column>
                  
                        <igx-column field="TrackProgress" header="Track Progress">
                            <ng-template igxCell let-val>
                                <div class="linear-bar-container">
                                    <igx-linear-bar [textVisibility]="false" class="cell__inner_2" [value]="val"></igx-linear-bar>
                                </div>
                            </ng-template>
                        </igx-column>
                  
                        <igx-column field="CountryFlag" header="Country">
                            <ng-template igxCell let-cell="cell">
                                <div class="cell__inner_2">
                                    <span>
                                        <img [src]="cell.value" class="flag" />
                                    </span>
                                </div>
                            </ng-template>
                        </igx-column>
                  </igx-grid>
                </div>
                 <div class="inputs-input-border-copy-row">
                    <div class="inputs-input-border-copy">
                       <igx-input-group type="border" class="inputs-input-border-copy-1" >
                          <input igxInput type="text" value="Items per page: 10" />
                          <igx-suffix>
                             <div class="inputs-input-border-copy-2-suffix">
                                <igx-icon>arrow_drop_down</igx-icon>
                             </div>
                          </igx-suffix>
                       </igx-input-group>
                    </div>
                 </div>
              </div>
              <div class="footer">
                 <div class="rectangle-copy2">
                 </div>
                 <div class="contacts-row">
                    <span class="igx-typography__subtitle-1 contacts">Contacts</span>
                    <div class="group10"><span class="igx-typography__subtitle-1 blank-name">©</span>
                       <span class="igx-typography__subtitle-2 a2018-baker-hughesa">2018 Baker Hughes, a GE company</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
</main>

<app-settings-menu igxToggle (mouseleave)="mouseleave($event)" #settingsMeny (displayDensitySelected)="changeDisplayDensity($event)"></app-settings-menu>
