/* You can add global styles to this file, and also import other style files */
@import '~igniteui-angular/lib/core/styles/themes/index';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include igx-core();

$app-palette: igx-palette($primary: #0D61B5, $secondary: #e41c77);

@include igx-theme($app-palette);

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
